@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Madimi+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.remember{
    font-family: "BenchNine", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  color: white;
}
.remember a{
    color: white;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.register-link{
    font-family: "BenchNine", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body{
    background-image: url(gaston-abascal-8F-6pXyQyLU-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}
.container{
    background: transparent;
    height: 350px; 
    width: 400px;
    padding: 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 2PX solid grey;
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
}
.container h1{
    text-align: center;
    color: white;
}
.input-box{
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    margin: 10px;
}
.input-box input{
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    outline: none;
}
.input-box input::placeholder{
    color: white;
    font-size: small;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.btn{
    width: 100%;
    background: white;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
  font-size: larger;
  border: 2px solid grey;
}
.register-link{
    color: white;
    display: flex;
    justify-content: center;
    margin: 25px;
}
.register-link a{
    color: white;
    text-decoration: none;
}
.register-link a:hover{
    text-decoration: underline;
}